@using Microsoft.AspNetCore.Identity

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

    <style>
        #logbox {
        width: 9em;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(40, 40, 40, 0.8);
        margin: 10px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        backdrop-filter: blur(5px);
        }
    </style>

<ul class="navbar-nav" id="logbox">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfpFile.svg/2048px-Default_pfpFile.svg.png" style="margin-top: 5px; width: 50%;" /> <!-- implement item.User.pfpFile -->
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
@*         <img class="pfpFile" src="@Html.DisplayFor(@Users.pfpFile)" />
 *@    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
