@using Microsoft.AspNetCore.Identity

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

    <style>
        #logbox {
        width: 10em;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(40, 40, 40, 0.8);
        margin: 10px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        backdrop-filter: blur(5px);
        }

        .PfpFile {
            height: 50px;
            width: 50px;
            display: block;
            margin: auto;
            margin-top: 5px;
        }
    </style>

<ul class="navbar-nav" id="logbox">
@if (SignInManager.IsSignedIn(User))
{
        @* Display the Profile Picture *@
        var user = await UserManager.GetUserAsync(User);
        var pfpName = user?.PfpName;
        string pfpUrl = string.Empty;
        if (!string.IsNullOrEmpty(pfpName))
        {
            pfpUrl = Url.Content("~/Image/" + pfpName);
        }

        @if (!string.IsNullOrEmpty(pfpUrl))
        {
                <div style="width: 100%; display: flex;">
            <img class="PfpFile" src="@pfpUrl" asp-append-version="true" class="PfpFile" />
            </div>
        }

    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
    </li>
    <li>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
        </form>
    </li>
}
else
{
    <div style="width: 100%; display: flex;">
            <img src="~/Image/Default_pfp.png" class="PfpFile" /> <!-- default -->
    </div>

    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
