@{
    ViewData["Title"] = "About";
}

<div class="post">
    METADATABASE is a web app by and for students of Avondale College's Innovation program. It is a collaborative, community-based application aimed towards easing the load of a project through offering an easy to use and accessible way to recieve and provide feedback, advice, and solutions to bugs.
</div>