@{
    ViewData["Title"] = "METADATABASE: HOME";
}


<div class="paralax" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.gettyimages.com/id/1327072542/photo/happy-mature-teacher-assisting-her-students-on-computer-class-at-school.jpg?s=2048x2048&w=gi&k=20&c=QQL1z8-QHA2fh2mLL9301L0bBlv3NcFk5rRSLNqQhxI=);">
    <div class="blur">
        THE METADATABASE
    </div>
</div>

<div class="break">
    <div style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Postgres_Query.jpg/800px-Postgres_Query.jpg?20170225003336); background-size: cover;">
    </div>

<div style="padding: 200px 0; text-align: center;">
        <p>
THE METADATABASE: the bestadatabase.
    </p>
</div>

</div>

<div class="paralax" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.istockphoto.com/id/1150714431/photo/rear-view-of-large-group-of-students-having-a-class-at-computer-lab.jpg?s=612x612&w=0&k=20&c=IzdiFlPpxlbC5NOugjW3vLQzYkECgvYDGmtg9UO_ARA=);">

</div>

<div class="break">
    <div style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Vista_do_morro_Dois_Irm%C3%A3os_e_da_Pedra_G%C3%A1vea%2C_tomada_das_cercanias_da_Fonte_da_Saudade.jpg/797px-Vista_do_morro_Dois_Irm%C3%A3os_e_da_Pedra_G%C3%A1vea%2C_tomada_das_cercanias_da_Fonte_da_Saudade.jpg?20200401223853); background-size: cover;">
    </div>

    <div style="padding: 200px 0; text-align: center;">
        <p>
            THE METADATABASE: the bestadatabase.
        </p>
    </div>

</div>