<style>
    .container {
        padding: 0;
        margin: 0;
        max-width: 100% !important;
    }

    main {
        margin: 0;
    }

    .fpcard {
        width: 25em;
        height: 30em;
        background: rgba(40, 40, 40, 0.8);
        border-radius: 10px;
        border: 3px solid #121212;
        margin-top: -14em;
        backdrop-filter: blur(5px);
    }

    .fpcard a {
        font-size: 350%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-decoration: none;
            font-family: monospace;
    }
</style>

@{
    ViewData["Title"] = "Home";
}

<div id="bg" class="paralax" style="background-image: linear-gradient(180deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 90%), url(https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="blur">
        Collaborate with your TPI class to make your web app the best it can be.
    </div>
</div>

<div class="break">
    <img src="https://uploads-ssl.webflow.com/5b3078114a7ded79494883ed/5b381d23af9676665f8b0e74_AvCol_Innov_Logo_Black.jpg" style="width: 60%; margin: auto; display: block;" />
    <p>Source feedback, end user experiences, and bug fixes from your comrades.</p>
</div>

<div id="bg" class="paralax" style="background-image: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0) 20%, rgba(18,18,18,0) 80%, rgba(18,18,18,1) 100%),  url(https://images.unsplash.com/photo-1543946602-a0fce8117697?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); display: flex; justify-content: center; gap: 5em;">

    <div class="fpcard">
        <a asp-area="" asp-controller="Users" asp-action="Index">Users</a>

    </div>

    <div class="fpcard">
        <a asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>

    </div>

</div>

<div class="break">
    <img src="https://pgroene.files.wordpress.com/2018/02/asp-net-core-logo-1.png?w=640" style="width: 60%; margin: auto; display: block;" />
    <p>Master ASP.Net Core through collaboration and community.</p>
</div>