<style>
    .container {
        padding: 0;
        margin: 0;
    }

    main {
        margin: 0;
    }
</style>

@{
    ViewData["Title"] = "METADATABASE: HOME";
}

<div id="bg" class="paralax" style="background-image: linear-gradient(180deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 90%), url(https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
">
    <div class="blur">
        Collaborate with your TPI class to make your web app the best it can be.
    </div>
</div>

<div class="break">
    <img src="https://uploads-ssl.webflow.com/5b3078114a7ded79494883ed/5b381d23af9676665f8b0e74_AvCol_Innov_Logo_Black.jpg" style="width: 60%; margin: auto; display: block;" />
        <p style="margin-top: 15px; text-align: center;">Source feedback, end user experiences, and bug fixes from your comrades.</p>
</div>

<div id="bg" class="paralax" style="background-image: linear-gradient(180deg, rgba(18,18,18,1) 10%, rgba(18,18,18,0) 100%), url(https://images.unsplash.com/photo-1613068687893-5e85b4638b56?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
">
</div>