@{
    ViewData["Title"] = "METADATABASE: HOME";
}

<div id="bg" class="paralax" style="background-image: url(https://images.unsplash.com/photo-1613068687893-5e85b4638b56?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); height: 100vh; padding: 45vh 0;">
    <div class="blur">
        THE METADATABASE
    </div>
</div>

<div class="break">
    <div style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Postgres_Query.jpg/800px-Postgres_Query.jpg?20170225003336); background-size: cover;">
    </div>

<div style="padding: 150px 0; text-align: center;">
THE METADATABASE: the bestadatabase.
</div>

</div>

<div class="paralax"></div>

<div class="break">
    <div style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Vista_do_morro_Dois_Irm%C3%A3os_e_da_Pedra_G%C3%A1vea%2C_tomada_das_cercanias_da_Fonte_da_Saudade.jpg/797px-Vista_do_morro_Dois_Irm%C3%A3os_e_da_Pedra_G%C3%A1vea%2C_tomada_das_cercanias_da_Fonte_da_Saudade.jpg?20200401223853); background-size: cover;">
    </div>

    <div style="padding:150px 0; text-align: center;">
            THE METADATABASE: the bestadatabase.
    </div>
</div>

<div class="paralax"></div>

<div class="break">
    <div style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Vista_do_morro_Dois_Irm%C3%A3os_e_da_Pedra_G%C3%A1vea%2C_tomada_das_cercanias_da_Fonte_da_Saudade.jpg/797px-Vista_do_morro_Dois_Irm%C3%A3os_e_da_Pedra_G%C3%A1vea%2C_tomada_das_cercanias_da_Fonte_da_Saudade.jpg?20200401223853); background-size: cover;">
    </div>

    <div style="padding: 150px 0; text-align: center;">
        THE METADATABASE: the bestadatabase.
    </div>
</div>


<div class="paralax"></div>
