@model METADATABASE.Models.Reports
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@if (SignInManager.IsSignedIn(User))
{
<h4>Reports</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- For post reports -->
                <input type="hidden" asp-for="PostsID" value="@ViewBag.PostId" />

                <!-- For comment reports -->
                <input type="hidden" asp-for="CommentsID" value="@ViewBag.CommentId" />

                <!-- Default values -->
                <input type="hidden" asp-for="UserId" value="@ViewBag.Id" />

                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" aria-required="true" placeholder="" rows="6" cols="50"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <input type="submit" value="Create Report" class="btn btn-primary" />
        </form>
    </div>
</div>

    @if (TempData["ErrorMessage"] != null)
    {
        <script type="text/javascript">
            alert('@TempData["ErrorMessage"]');
        </script>
    }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
}
else
{
    <p>Please <a asp-area="Identity" asp-page="/Account/Login">Log In</a> or <a asp-area="Identity" asp-page="/Account/Register">Register</a>.</p>
}