@model METADATABASE.Models.Likes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Likes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <!-- For post likes -->
            <input type="hidden" asp-for="PostsID" value="@ViewBag.PostId" />

            <!-- For comment likes -->
            <input type="hidden" asp-for="CommentsID" value="@ViewBag.CommentId" />

            <!-- Default values -->
            <input type="hidden" asp-for="Id" value="@ViewBag.Id" />
            <input type="hidden" asp-for="User.pfpFile" value="@ViewBag.User.pfpFile" /> 
            @* hide pfpFile *@

            <input type="submit" value="Like this post" class="btn btn-primary" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
