@model METADATABASE.Models.Likes
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@if (SignInManager.IsSignedIn(User))
{
    <h4>Likes</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <!-- For post likes -->
                <input type="hidden" asp-for="PostsID" value="@ViewBag.PostId" />

                <!-- For comment likes -->
                <input type="hidden" asp-for="CommentsID" value="@ViewBag.CommentId" />

                <!-- Default values -->
                <input type="hidden" asp-for="UserId" value="@ViewBag.Id" />
                <input type="hidden" asp-for="User.PfpFile" value="@ViewBag.User.PfpFile" /> 
                @* hide PfpFile *@

                <input type="submit" value="Like this post" class="btn btn-primary" />
            </form>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
}
else
{
    <p>Please <a asp-area="Identity" asp-page="/Account/Login">Log In</a> or <a asp-area="Identity" asp-page="/Account/Register">Register</a>.</p>
}